<html>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>
    $(function () {
      $("#editxxx").click(function () {
          $('#xxx').removeAttr("readonly");
      });
      $("#editxxy").click(function () {
          $('#xxy').removeAttr("readonly");
      });
  })

</script>
<body>
<h3>{{ model_detail.model_name }}</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'polls:trainingResult' model_detail.id %}" method="post">
    {% csrf_token %}
    <label>Algorithm used: {{ model_detail.algorithm_used }}</label>
    <label>Attributes</label>
    <div>
        <label>name: xxx</label>
        <input type="text" name="xxx" id="xxx" value="xxx" readonly>
        <input type="button" id="editxxx" value="edit">
        <label>name: xxy</label>
        <input type="text" name="xxy" id="xxy" value="xxy" readonly>
        <input type="button" id="editxxy" value="edit">
    </div>
    <input type="text" required id="trainingName" placeholder="Give a name to this training">
    <input type="submit" value="Start Training" id="submitButton">
</form>
</body>
</html>
