<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>
<body>
{% if all_models_list %}
<form action="{% url 'polls:detail' %}" method="post">
    {% csrf_token %}
    {% for model in all_models_list %}
    <input type="radio" name="model" value="{{ model.id }}" id="model{{ forloop.counter }}">
    <label for="model{{ forloop.counter }}">{{ model.model_name }}</label>
    {% endfor %}
    <input type="submit" value="Submit">
</form>

{% endif %}
</body>
</html>